<%- include("partials/header.ejs") %>
    <!-- <div class="box">
    <img src="" alt="Blog1">
    <h3>Title</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, quos!</p>

</div> -->

    <div class="container">

        <% posts.forEach(post=> { %>
            <div class="box">
                <img class="image" src="<%= post.image%>" alt="Blog1">
                <h3>ID: <%=post.id%></h3>
                <h3>
                    <%= post.title%>
                </h3>
                <p>
                    <%= post.content%>
                </p>
            </div>
            <% }) %>

    </div>
    <%- include("partials/footer.ejs") %>